/*
** file: css/main.css
** description: custom styling for "html/main.html" file
*/

body{
  color: #4D4D94;
  background-color: #4D4D94;
}
h1{
  font-size: 2em;
}

.container {
   margin-top: 40px;
}

.box{
  background-color: #FFFFDB;
  padding: 25px;
  padding-bottom: 40px;
  border-radius: 15px;
}

/*form{
  background-color: #FFFFDB;
  padding: 25px;
  padding-bottom: 40px;
  border-radius: 15px;
}
*/
label{
  font-size: 1.2em;
}
